.characters, .planets {
	width: 50%;
}
ul {
	padding: 0;
	display: table;
	list-style-type: none;
	position: relative;
	width: 100%;
	border-bottom: dotted 1px #444;
}

ul li.header{
	font-weight: bold;
	display: table-row;
}

ul li.header span {
		border-bottom: dotted 1px #444;
}

ul li {
	display: table-row;
	width: 100%;
}

ul li span{
	display: table-cell;
	width: 33%;
	padding: 0 .25rem;
}

li.placeholder{
	display: table-row;
}

li.placeholder span{
	display: table-cell;
	border: solid .2rem #FFF;
	/*background: repeating-linear-gradient(
	  -55deg,
	  #DDD,
	  #DDD .1rem,
	  #EEE .1rem,
	  #EEE .2rem
	);*/
	
  background-color: #EEE;
  background-size: .1rem .1rem;
	height: .75rem;
	width: auto;
}

