<section ng-controller="CharacterCtrl as vm" class="characters">
 <h2>Star Wars Characters</h2>
	<button ng-click="vm.loadCharacters()">Load Characters</button>
	<select name="pageSize" ng-model="vm.pageSize" ng-options="v as v for v in vm.pageSizeOptions">
	</select>
 	<ul>
 		<li class="header">
 			<span>Name</span>
	    <span>Gender</span>
	    <span>Hair Color</span>
 		</li>
 		<li ng-repeat="i in vm.repeatPageSize() track by $index" class="placeholder" ng-hide="vm.characters.status">
 			<span></span>
 			<span></span>
 			<span></span>
 		</li>
	 	<li ng-repeat="character in vm.characters.value.results | limitTo: vm.pageSize" ng-show="vm.characters.status" >
	    <span ng-bind="character.name"></span>
	    <span ng-bind="character.gender"></span>
	    <span ng-bind="character.hair_color"></span>
	  </li>	
 	</ul> 
</section>